@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;900&family=Source+Sans+Pro:wght@400;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ========== Custom properties ========== */
:root {
  --ff-primary: "Source Sams Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #00c4ff;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em;

  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  --header-height: 3rem;
  --font-semi: 600;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/*===== Margins =====*/
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z index =====*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* ========== General Styles ========== */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0%;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--clr-dark);
  font-size: 1.2rem;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.section__title {
  margin-bottom: 0.2em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}
.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
  color: var(--clr-light);
}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

/* HEADER */
.bd-grid {
  max-width: 100vw;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}
.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}
/* INTRO SECTION */

.intro {
  position: relative;
}

@media (min-width: 850px) {
  /* NAVBAR */
  .nav {
    height: calc(var(--header-height) + 1rem);
  }
  .nav_list {
    display: flex;
    padding-top: 0;
    justify-content: flex-start;
  }
  .nav_item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav_toggle {
    display: none;
  }
  .nav_link {
    color: var(--clr-dark);
  }

  /* INTRO */
  .intro {
    margin-top: 8rem;
    display: grid;
    justify-content: center;
    align-content: center;
    transform: translateY(-10em);
    grid-template-areas:
      "subtitle"
      "title"
      "button";
    grid-template-columns: max-content;
    width: 100%;
    height: 100vh;
  }

  .intro__img {
    grid-area: img;
  }
  .intro .section__subtitle--intro {
    align-self: start;
    grid-column: 1/ 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    width: calc(100%);
  }
  .section__title--intro {
    grid-column: 1;
    grid-row: 1;
  }
  .section__buttons {
    margin-left: 65%;
    justify-content: end;
    grid-area: button;
    display: grid;
    grid-template-columns: max-content max-content;
  }
  .section__button {
    border-radius: 10px;
    height: 2em;
    width: 5.2em;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(216, 214, 214);
    background-color: white;
  }
  .intro__button {
    margin-left: 1em;
  }

  .section__button:hover {
    background-color: var(--clr-accent);
    color: white;
    border-color: white;
  }

  /* ABOUT ME */
  .about-me {
    position: relative;
    width: 100vw;
    height: 80vh;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    background-image: url("../images/setup-standard-dark.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center center;
    image-rendering: pixelated;
    padding: 1rem;
  }
  .about-me__body p {
    font-size: 1.5rem;
  }
  .about-me header {
    text-align: center;
    color: var(--clr-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -1.5em;
    margin-top: 4rem;
  }
  .section__subtitle--about {
    font-size: var(--fs-h3);
    padding-left: 1rem;
    padding-right: 1rem;
    width: max-content;
  }
  .about-me__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em;
  }
  .about-me a {
    color: var(--clr-light);
    text-decoration: underline;
  }

  /* SKILLS SECTION */
  .my-skills {
    width: 100%;
    height: 100vh;
  }
  .section__title--skills {
    text-align: center;
    margin-bottom: 2em;
  }
  .skills {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-right: 5em;
    margin-left: 5em;
  }
  .skill img {
    width: 8em;
    height: 8em;
    margin-bottom: 1em;
    transition: 0.3s;
  }
  #firebase--icon {
    width: 6em;
    height: 8em;
  }
  .my-skills h3 {
    text-align: center;
  }

  .skill {
    margin-bottom: 3em;
  }
  .skill__name {
    position: relative;
  }
  .skill__name::after {
    content: "";
    height: 0.2em;
    width: 0em;
    background-color: var(--clr-accent);
    position: absolute;
    top: 110%;
    right: 50%;
    transition: 0.2s;
  }
  .skill__name::before {
    content: "";
    height: 0.2em;
    width: 0em;
    background-color: var(--clr-accent);
    position: absolute;
    top: 110%;
    left: 50%;
    transition: 0.2s;
  }

  .skill:hover > .skill__name::after,
  .skill:hover > .skill__name::before {
    width: 1.8em;
  }
  .skill:hover img {
    transform: translateY(-10px);
  }

  /* PROJECTS SECTION*/

  .my-projects {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .section__title--projects {
    text-align: center;
  }
  .portfolio {
    display: flex;
    padding: 3rem;
    overflow-x: scroll;
    height: 30rem;
    justify-content: right;
    align-items: flex-start;
  }
  .portfolio::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .portfolio::-webkit-scrollbar-thumb {
    background: var(--clr-accent);
    border-radius: 10px;
  }
  .portfolio::-webkit-scrollbar-track {
    background: var(--clr-light);
  }

  .card {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 23rem;
    width: 3rem;
    min-width: 250px;
    padding: 1.5rem;
    text-decoration: none;

    border-radius: 10px;
    background: #ffffff;
    box-shadow: -0.06rem 0 1.4rem rgb(145, 145, 145);
    transition: 0.35s;
  }
  .card:hover {
    transform: translateY(-1rem);
  }
  .card:hover ~ .card {
    transform: translateX(50px);
  }
  .card:not(first-child) {
    margin-left: -30px;
  }
  .card__title {
    width: 100%;
    font-size: var(--fs-h3);
    text-align: center;
  }
  .card p {
    font-size: 0.9em;
  }
  .my__projects--header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section__subtitle--about {
    text-align: center;
  }

  /* CONTACT SECTION */

  .my-contact {
    background-color: var(--clr-light);
    width: 100vw;
    height: 80vh;
    padding: 2rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  .form {
    width: 100%;
    max-width: 820px;
    height: 500px;
    background-color: var(--clr-light);
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .contact__info {
    background-color: var(--clr-light);
  }
  .contact__form {
    background-color: var(--clr-accent);
    display: grid;
    position: relative;
  }
  form {
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
  }
  .form__input {
    position: relative;
    margin: 1rem 0;
  }
  .input {
    width: 100%;
    outline: none;
    border: 2px solid var(--clr-light);
    background: none;
    padding: 0.6rem 1.2rem;
    border-radius: 15px;
    color: var(--clr-light);
  }
  textarea {
    resize: none;
    padding: 0.8rem 1.2rem;
    border-radius: 22px;
    min-height: 150px;
    width: 100%;
  }
  .form__input label {
    position: absolute;
    top: 28%;
    left: 15px;
    transform: translateY(-50);
    padding: 0 0.4rem;
    color: var(--clr-light);
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
  }
  .form__input--textarea label {
    top: 1rem;
    transform: translateY();
  }

  .form__input span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
  }

  .form__input span:before,
  .form__input span:after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    height: 5px;
    background-color: var(--clr-accent);
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
  }
  .form__input span::before {
    left: 50%;
  }
  .form__input span::after {
    right: 50%;
  }
  .form__input.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
  }
  .form__input.focus span::before,
  .form__input.focus span::after {
    width: 50%;
    opacity: 1;
  }

  .contact__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2em;
  }

  .section__title--contact {
    width: 100%;
    margin-top: 1em;
    font-size: 2em;
    color: var(--clr-accent);
  }
  .section__info {
    margin-bottom: 2em;
  }
  .social__icon--contact {
    width: 50px;
    height: 50px;
    fill: var(--clr-accent);
  }
  .section__info--details {
    display: flex;
  }
  .section__info--details p {
    margin-left: 2em;
  }
  .section__info--details a {
    margin-top: 0.5em;
    margin-left: 2em;
    text-decoration: none;
    color: black;
  }
  .contact__socials {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: -1em;
  }
  .social__icon--media {
    width: 50px;
    height: 50px;
    fill: var(--clr-accent);
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  .form__btn {
    width: 100;
    display: flex;
    justify-content: flex-end;
  }
  /* Change the white to any color */
  .input:-webkit-autofill,
  .input:-webkit-autofill:hover,
  .input:-webkit-autofill:focus,
  .input:-webkit-autofill:active {
    -webkit-text-fill-color: var(--clr-light);
    -webkit-box-shadow: 0 0 0 30px var(--clr-accent) inset !important;
  }
}

/* SMALL SCREEN VERSION */
@media only screen and (max-width: 850px) {
  /* INTRO */
  .intro {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-areas:
      "subtitle"
      "title"
      "button";
    grid-template-columns: 25em;
    width: 100%;
    height: 40em;
  }

  .section__subtitle--intro {
    align-self: start;
    grid-column: 1/ 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    width: calc(100%);
  }

  .section__buttons {
    margin-left: 65%;
    justify-content: end;
    grid-area: button;
    display: grid;
    grid-template-columns: max-content max-content;
  }
  .section__button {
    border-radius: 10px;
    height: 2em;
    width: 5.2em;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(216, 214, 214);
    background-color: white;
    margin-left: 1em;
  }
  .section__button:hover {
    background-color: var(--clr-accent);
    color: white;
    border-color: white;
  }
  .section__subtitle--intro {
    align-self: start;
    grid-column: 1/ 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    width: calc(100%);
  }

  /* ABOUT ME */
  .about-me {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    background-image: url(/images/setup-standard-dark.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    image-rendering: pixelated;
    background-position: 50% 50%;
  }
  .about-me header {
    text-align: center;
    color: var(--clr-light);
  }
  .form {
    grid-template-columns: 1fr;
  }
  .social__icon--media {
    margin-bottom: 1.5em;
  }
}

/* MOBILE VERSION */
@media only screen and (max-width: 860px) {
  .skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-right: 5em;
    margin-left: 5em;
  }
  .section__title--skills {
    text-align: center;
    margin-bottom: 1em;
  }
  .skill__name {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 1em;
  }

  /* PORTFOLIO */
  .portfolio {
    display: flex;
    padding: 3rem;
    overflow-x: scroll;
  }

  .card {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 350px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;
    text-decoration: none;

    border-radius: 10px;
    background: #ffffff;
    box-shadow: -0.06rem 0 1.4rem rgb(145, 145, 145);
    transition: 0.35s;
  }
  .card:hover {
    transform: translateY(-1rem);
  }
  .card:hover ~ .card {
    transform: translateX(50px);
  }
  .card:not(first-child) {
    margin-left: -30px;
  }
  .card__title {
    font-size: var(--fs-h3);
    text-align: center;
  }
  .card p {
    font-size: 0.9em;
  }
  .portfolio::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .portfolio::-webkit-scrollbar-thumb {
    background: var(--clr-accent);
    border-radius: 10px;
  }
  .portfolio::-webkit-scrollbar-track {
    background: var(--clr-light);
  }

  /* CONTACT SECTION */
  .form {
    grid-template-columns: 1fr;
  }
  .form {
    width: 100%;
    max-width: 820px;
    height: 500px;
    background-color: var(--clr-light);
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: grid;
    grid-template-columns: 1fr;
  }
  .contact__info {
    background-color: var(--clr-light);
  }
  .contact__form {
    background-color: var(--clr-accent);
    display: grid;
    position: relative;
  }
  form {
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
  }
  .form__input {
    position: relative;
    margin: 1rem 0;
  }
  .input {
    width: 100%;
    outline: none;
    border: 2px solid var(--clr-light);
    background: none;
    padding: 0.6rem 1.2rem;
    border-radius: 15px;
    color: var(--clr-light);
  }
  textarea {
    resize: none;
    padding: 0.8rem 1.2rem;
    border-radius: 22px;
    min-height: 150px;
    width: 100%;
  }
  .form__input label {
    position: absolute;
    top: 28%;
    left: 15px;
    transform: translateY(-50);
    padding: 0 0.4rem;
    color: var(--clr-light);
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
  }
  .form__input--textarea label {
    top: 1rem;
    transform: translateY();
  }

  .form__input span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
  }

  .form__input span:before,
  .form__input span:after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    height: 5px;
    background-color: var(--clr-accent);
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
  }
  .form__input span::before {
    left: 50%;
  }
  .form__input span::after {
    right: 50%;
  }
  .form__input.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
  }
  .form__input.focus span::before,
  .form__input.focus span::after {
    width: 50%;
    opacity: 1;
  }

  .contact__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2em;
  }

  .section__title--contact {
    width: 100%;
    margin-top: 1em;
    font-size: 2em;
    color: var(--clr-accent);
  }
  .section__info {
    margin-bottom: 2em;
  }
  .social__icon--contact {
    width: 50px;
    height: 50px;
    fill: var(--clr-accent);
  }
  .section__info--details {
    display: flex;
  }
  .section__info--details p {
    margin-left: 2em;
  }
  .section__info--details a {
    margin-top: 0.5em;
    margin-left: 2em;
    text-decoration: none;
    color: black;
  }
  .contact__socials {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: -1em;
  }
  .social__icon--media {
    width: 50px;
    height: 50px;
    fill: var(--clr-accent);
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  .form__btn {
    width: 100;
    display: flex;
    justify-content: flex-end;
  }
}

/* RANDOM THING */
/* @media only screen and (min-width: 600px) and (max-width: 1600px) {
  .skills {
    display: grid;

    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-right: 5em;
    margin-left: 5em;
  }
} */
